<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      TODOs
    </ion-list-header>
    <ion-item>
      <ion-label floating>new</ion-label>
      <ion-input type="text" [(ngModel)]="newTodo" name="newTodo" required></ion-input>
    </ion-item>
    <div padding>
      <button ion-button color="primary" block (click)="addTodo(newTodo)">Add</button>
    </div>
    <div padding>
      <button ion-button color="secondary" [ngClass]="buttonClass('done')" (click)="showDone()">Done</button>
      <button ion-button color="danger" [ngClass]="buttonClass('pending')" (click)="showPending()">Pending</button>
      <button ion-button color="dark" [ngClass]="buttonClass('all')" (click)="showAll()">All</button>
    </div>
    <ion-card *ngIf="(todos | filteredTodos:done).length === 0">
      <ion-card-content class="card-danger">
        No todos to show
      </ion-card-content>
    </ion-card>
    <ion-item *ngFor="let todo of (todos | filteredTodos:done)">
      <ion-label>{{todo.description}}</ion-label>
      <ion-checkbox [(ngModel)]="todo.done"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
