<ion-header>
  <ion-navbar>
    <ion-title>Todos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- el componente para ingrear un nuevo TODO aqui -->
  <div>
    <ion-item>
      <ion-label floating>nuevo quehacer</ion-label>
      <ion-input type="text" #quehacerInput></ion-input>
    </ion-item>
  </div>
  <div padding>

    <button ion-button block (click)="agregarQuehacer(quehacerInput.value,false)">agregar</button>
  </div>
  <div padding>
    <button ion-button *ngFor="let boton of botones" color={{boton.color}} large={{boton.grande}} (click)="filtrarQuehaceres(boton.texto)">{{boton.texto}}</button>

  </div>
  <!-- la lista de TODOs aqui -->

  <div>
    <ion-list>
      <ion-item *ngFor="let componente of listarQuehaceres()">
        <ion-label>{{componente.description}}</ion-label>
        <ion-checkbox #actualizarCheckbox
                     [checked]="componente.done"
                     (click)="actualizarQuehacer(actualizarCheckbox.checked,componente)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
